#loading-screen {
  position: fixed;
  inset: 0;
  background-color: #fffdee;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.dots {
  display: flex;
  gap: 7px;
}

.dots span {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 50%;
  display: inline-block;
  transform: translateY(0);
  animation: bounce 0.5s infinite ease-in-out;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}
.dots span:nth-child(2) {
  animation-delay: 0.1s;
}
.dots span:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
